body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 1280px;
    height: 563px;
    background-image: url(../img/svg/Shape-1.svg), url(../img/jpg/Layer-1.jpg);
    background-blend-mode: normal;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.header__navigator {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 87px;
    margin-left: auto;
    margin-right: auto;
}

.header__heading {
    margin: 0;
    color: #fff;
    margin-left: 55px;
}

.header__navi-menu {
    display: flex;
    justify-content: space-between;
    width: 455px;
    list-style: none;
    margin-left: auto;
}

.header__navi-item {
    text-transform: uppercase;
}

.item-link {
    color: #dce3e4;
}

.item-link:hover {
    color: #fff;
}

.carousel__description {
    width: 518px;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}

.carousel__read-more {
    display: block;
    width: 239px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    border: solid 2px #afb1b4;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    color: #e4e4e4;
    background-color: rgba(85,84,118,0.07);
}

/**************** Lerning ******************/
.lerning {
    width: 1024px;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
}

.lerning__heading {
    width: 590px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 49px;
    font-size: 30px;
    color: #4c505d;
}
.lerning__description {
    width: 855px;
    margin: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: #4c505d;
}

.lerning__list {
    width: 420px;
    display: flex;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    justify-content: space-between;
}
.lerning__item {
    width: 55px;
    height: 55px;
}

.bg-1,
.bg-2,
.bg-3 {
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-1 {
    background-image: url(../img/svg/cart.svg);
}
.bg-2 {
    background-image: url(../img/svg/earth.svg);
}
.bg-3 {
    background-image: url(../img/svg/diplomat.svg);
}

/**************** Author ******************/
.author {
    width: 1280px;
    background-color: #00d089;
    margin-left: auto;
    margin-right: auto;
}

.author__name-container {
    display: flex;
    padding-left: 45%;
    padding-top: 95px;
    padding-bottom: 60px;
}

.author__name {
    width: 130px;
    margin: 0;
    margin-left: 40px;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase   ;
    background-image: url(../img/png/quots.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.author__description {
    width: 900px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 95px;
    text-align: left;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}

/**************** CallBack ******************/

.callback {
    width: 1280px;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/svg/Ellipse-mail-to.svg), url(../img/png/bg-map.png);
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-position: center;
}

.callback-form {
    display: flex;
    flex-direction: column;
    padding-top: 164px;
}

.callback_input-item {
    width: 275px;
    height: 31px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #d8d8d8;
    outline: none;
}

.callback_textarea-item {
    width: 275px;
    height: 80px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #d8d8d8;
    outline: none;
}

.callback_submit-item {
    width: 66px;
    height: 67px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background-image: url(../img/png/Shape-5.png);
}

/**************** Footer ******************/
.footer {
    width: 1280px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #00d089;
}

.footer__description {
    margin: 0;
    padding-top: 13px;
    color: #fff;
    text-transform: uppercase;
}
