@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latothin';
    src: url('../fonts/lato-thin-webfont.woff2') format('woff2'),
         url('../fonts/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'latoblack';
}

.heading-title {
    margin: 0;
    font-size: 43.94px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}

.heading-title span {
    font-size: 35px;
    color: #ffc61a;
    line-height: 32px;
}

/* Header */
.header {
    position: relative;
    width: 1600px;
    height: 739px;
    margin: 0px auto;
    background-image: url(../img/png/bg-header.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-container {
    max-width: 170px;
    padding-top: 45px;
    margin-left: 80px;
    text-align: center;
}

.logo-heading {
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-size: 40.36px;
    color: #fff;
}

.logo-heading span {
    color: #daa505;
    text-transform: uppercase;
}

.logo-description {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15.01px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header__menu {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    padding-top: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style: none;
}

.menu-item {
    margin-right: 50px;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.heading {
    margin: 0;
    font-size: 35.74px;
    color: #ffc61a;
    text-transform: uppercase;
    text-align: center;
}

.header-number {
    margin: 0;
    font-size: 72.26px;
    line-height: 72px;
    color: #fff;
    text-align: center;
}

.header-site {
    margin: 0;
    font-size: 20px;
    letter-spacing: 14.4px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


/* Booking description */
.booking {
    width: 1600px;
    min-height: 707px;
    margin: 0 auto;
    background-color: #ffc61a;
    display: flex;
    justify-content: center;
}

.booking__read-more-container {
    margin-top: 155px;
    margin-right: 215px;
}

.booking__heading {
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.booking__heading span {
    font-size: 35px;
    line-height: 32px;
}

.booking__description {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 60px;
    font-family:'latoregular';
    font-size: 18px;
}

.read-more-btn {
    display: block;
    width: 105px;
    border-radius: 10px;
    padding: 15px 32px 12px 35px;
    background-color: black;
    text-decoration: none;
    font-size: 29.53px;
    font-family: 'bebasneue';
    text-transform: uppercase;
    color: #fff;

}

/* Boooking Form */
.booking__form-container {
    max-width: 422px;
    max-height: 472px;
    margin-top: 155px;
    background-color: #fff;
}

.bkng-container-heading {
    margin: 0;
    padding: 26px 0px 26px 37px;
    font-size: 34.43px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
}

.bkng-container-heading-span {
    color: #ffc61a;
}

.booking-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bkng-input {
    padding: 0;
    width: 171px;
    border: none;
    border-bottom: 2.72px solid #e4e4e4;
    outline: none;
    font-family: 'latobold';
    font-size: 20px;
}

.bkng-input:nth-child(2n+1) {
    margin-right: 23px;
}

.bkng-input:nth-child(2n+1)::placeholder {
    color: #000;
}

.bkng-input:nth-child(2n)::placeholder {
    color: #4b4b4b;
}

.first-groupe {
    margin-top: 37px;
}

.second-groupe {
    margin-top: 40px;
}

.third-groupe {
    margin-top: 47px;
}

.bkng-vhlc-input {
    width: 365px;
    margin: 0;
    margin-top: 37px;
    margin-bottom: 47px;
    padding: 0;
    border: none;
    border-bottom: 2.72px solid #e4e4e4;
    outline: none;
    font-family: 'latobold';
    font-size: 20px;
}

.bkng-vhlc-input::placeholder {
    color: #000;
}

.submit-btn {
    width: 376px;
    font-family: 'bebasneue';
    font-size: 29.53px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
}

/* Tarifs */
.tarifs {
    width: 1600px;
    min-height: 764px;
    margin: 0 auto;
}

.our-tariffs {
    padding: 63px 0px 0px 0px;
    color: #000;
}

.tarifs__list {
    padding: 0;
    margin: 133px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.tarif-item {
    position: relative;
    max-width: 373px;
    min-height: 424px;
}

.popular-tarif {
    background-color: #ffc61a;
    background-image: url(../img/png/Rectangle.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bg-tariffs {
    position: absolute;
    margin-top: -85px;
}

.tarif-heading {
    margin: 124px 0px 31px 0px;
    font-size: 30.42px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
}

.tarif-description {
    margin: 0px 0px 35px 0px;
    padding: 0px 38px 0px 33px;
    font-family: 'latoregular';
    font-size: 18px;
    text-align: center;
}

.tarif-price {
    margin: 0px 0px 35px 0px;
    font-size: 43.94px;
    color: #ffc61a;
    text-align: center;
    text-transform: uppercase;
    line-height: 43px;
}

.btn-tarif {
    margin: 0 auto;
    color: #000;
    background-color: #ffc61a;
    line-height: 21px;
}

.btn-popular-tarif {
    margin: 0 auto;
    color: #fff;
    background-color: #1b1b1b;
    line-height: 21px;
}

/* We-do */
.we-do {
    width: 1600px;
    height: 753px;
    margin: 0 auto;
    background-image: url(../img/png/we-do-best-bg.png);
    background-size: contain;
}

.we-do__heading {
    padding-top: 81px;
    color: #fff;
}

.wish-list {
    margin: 0;
    padding: 80px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.wish-item {
    max-width: 486px;
    margin-bottom: 80px;
}

.wish-item:nth-child(2n + 2) {
    margin-left: 189px;
} 

.wish-heading {
    margin: 0px 0px 23px 0px;
    padding-left: 116px;
    font-size: 25px;
    color: #ffc61a;
    line-height: 25px;
    text-transform: uppercase;
}

.wish-description {
    margin: 0;
    padding-left: 116px;
    font-family: 'latoregular';
    font-size: 18px;
    color: #fff;
}

.btn-wish {
    margin: 0 auto;
    color: #000;
    background-color: #ffc61a;
    line-height: 21px;
}

.bg-wish-1, .bg-wish-2, .bg-wish-3, .bg-wish-4 {
    background-repeat: no-repeat;
    background-position: top left;
}

.bg-wish-1 {
    background-image: url(../img/png/home.png);
}

.bg-wish-2 {
    background-image: url(../img/png/bonuses.png);
}

.bg-wish-3 {
    background-image: url(../img/png/fast.png);
}

.bg-wish-4 {
    background-image: url(../img/png/gps.png);
}

/* Download app */
.download {
    width: 1600px;
    height: 650px;
    margin: 0 auto;
    background-image: url(../img/png/download-app.png);
    background-repeat: no-repeat;
    background-position: 949px 150px;
}

.download__heading {
    padding: 65px 0px 82px 0px;
}


.free-download {
    margin: 0;
    font-size: 25.48px;
    line-height: 32px;
}

.download-description {
    font-family: 'latoregular';
    font-size: 18px;
}

.free-download, .download-description {
    margin-left: 331px;
}

/* Testimonials */
.testimonials {
    width: 1600px;
    min-height: 611px;
    margin: 0 auto;
    background-image: url(../img/png/testimonials-bg.png);
}

.testimonials__heading {
    padding: 112px 0px 105px 0px;
    color: #fff;
}

.testimonials-list {
    max-width: 1193px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}

.testimonials-item {
    min-width: 580px;
    min-height: 230px;
    background-color: #000;
    border-radius: 40px;
}

.testimonials-description {
    margin: 0;
    padding: 41px 69px 23px 50px;
    font-family: 'latoregular';
    font-size: 18px;
    color: #fff;
}

.client-info-block {
    display: flex;
    align-items: center;
    padding: 0px 0px 30px 50px;
}

.client-photo {
    margin-right: 18px;
}

.client-info {
    margin: 0;
    font-size: 25px;
    color: #ffc61a;
    line-height: 25px;
}

.client-info span {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    padding-left: 5px;
}

/* Callback */
.callback {
    max-width: 1600px;
    max-height: 287px;
    margin: 0 auto;
    background-color: #ffc61a;
}

.callback__description {
    margin: 0;
    padding: 74px 0px 36px 0px;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
}

.callback__number {
    color: #000;
    padding: 0px 0px 70px 0px;
}