@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins/poppins-bold-webfont.woff2') format('woff2'),
        url('../fonts/Poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins/poppins-regular-webfont.woff2') format('woff2'),
        url('../fonts/Poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-black';
    src: url('../fonts/Poppins/poppins-black-webfont.woff2') format('woff2'),
        url('../fonts/Poppins/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fonts/Poppins/poppins-semibold-webfont.woff2') format('woff2'),
        url('../fonts/Poppins/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url('../fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
        url('../fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue/bebasneue-regular-webfont.woff2') format('woff2'),
        url('../fonts/BebasNeue/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 1800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/jpg/Layer-header.jpg);
}

.header__navi-menu {
    display: flex;
    max-width: 1800px;
    max-height: 74px;
    align-items: center;
    background-image: url(../img/svg/bg-header.svg);
    margin-left: auto;
    margin-right: auto;
    border: solid #4c515a;
    border-width: 0px 0px 1px 0px;
}

.header__burger-menu {
    display: block;
    min-width: 74px;
    min-height: 74px;
    background-image: url(../img/png/burger-menu.png);
    background-repeat: no-repeat;
    background-size: 29.81px 22.25px;
    background-position: center center;
    border: solid #4c515a;
    border-width: 0px 1px 0px 0px;
}

.header__logo {
    display: block;
    width: 140px;
    height: 74px;
    margin-left: 21px;
    padding-right: 28px;
    background-image: url(../img/png/header-logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    border: solid #4c515a;
    border-width: 0px 1px 0px 0px;
    
}

.header__menu-list {
    display: flex;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat-semibold';
}

.header__menu-item {
    padding-left: 25px;
}

.header__menu-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    line-height: 25.65px;
}

.header__social-list {
    display: flex;
    align-items: center;
    height: 74px;
    margin: 0;
    padding: 0;
    margin-left: 580px;
    padding-right: 44px;
    list-style: none;
    border: solid #4c515a;
    border-width: 0px 1px 0px 1px;
}

.header__social-item {
    padding-left: 38px;
}

.header__social-link {
    display: block;
    width: 30px;
    height: 30px;

}

.bg-social-1,
.bg-social-2,
.bg-social-3,
.bg-social-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-social-1 {
    background-image: url(../img/svg/fb.svg);
}

.bg-social-2 {
    background-image: url(../img/svg/tw.svg);
}

.bg-social-3 {
    background-image: url(../img/svg/g+.svg);
}

.bg-social-4 {
    background-image: url(../img/svg/inst.svg);
}

.header__cart {
    width: 77px;
    height: 74px;
    background-image: url(../img/svg/cart.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid #4c515a;
    border-width: 0px 1px 0px 0px;
}

.header__search {
    width: 74px;
    height: 74px;
    background-image: url(../img/svg/search.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

.discount-heading {
    max-width: 600px;
    height: auto;
    margin: 0;
    margin-top: 180px;
    margin-left: 250px;
    color: #fff;
    line-height: 147.24px;
    text-transform: uppercase;
    text-align: center;
    font-size: 203.66px;
    font-family: 'Poppins-bold';
    letter-spacing: -17px;
}

.discount-description {
    width: 600px;
    margin: 0;
    margin-left: 250px;
    font-family: 'Montserrat-bold';
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
}

.header-btn {

}

.btn-discount {
    display: block;
    width: 125px;
    font-size: 17px;
    color: #fff;
    margin: 0;
    margin-top: 60px;
    margin-left: 463px;
    padding: 16px 23px 17px 22px;
    font-family: 'Montserrat-regular';
    text-align: center;
    text-transform: uppercase;
    background-color: #3954d9;
    border-radius: 25px;
}


/********************* Shipping **********************/
.shipping {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.shipping__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: -73px;
    list-style: none;
    background-color: #fff;
}

.shipping__item {
    width: 375px;
    height: 373px;
    border: solid 1px #c7c7c7;
    border-width: 0px 1px 0px 0px;
}

.shipping__item:nth-last-child(1) {
    border:none;
}

.shipping__heading {
    margin: 0;
    padding-top: 168px;
    padding-bottom: 24px;
    text-align: center;
    font-family:'BebasNeueBold';
    font-size: 32px;
    text-transform: uppercase;
    color: #0d2e57;
}

.shipping__description {
    max-width: 230px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 23px;
    text-align: center;
    font-family:'Montserrat-regular';
    font-weight: 300;
    font-size: 13px;
    color: #8a8a8a;
}

.shipping__link {
    display: block;
    text-align: center;
    color: #3753da;
    font-family: 'Montserrat-semibold';
    font-weight: 600;
    font-size: 13px;
}

.bg-shipping-1,
.bg-shipping-2,
.bg-shipping-3,
.bg-shipping-4 {
    background-repeat: no-repeat;
    background-position: center 80px;

}

.bg-shipping-1 {
    background-image: url(../img/png/aero-bg.png);
}

.bg-shipping-2 {
    background-image: url(../img/png/oclock-bg.png);
}

.bg-shipping-3,
.bg-shipping-4 {
    background-image: url(../img/png/ring-bg.png);
}



/********************* Offer **********************/

.offer-of-month {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.offer-of-month__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.offer-of-month__item {
    min-width: 750px;
    background-color: #f2f0f0;
}
.offer-name {
    margin: 0;
    margin-top: 124px;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins-semibold';
    line-height: 25.07px;
    font-size: 20.43px;
    color: #616161;
}

.offer-heading {
    margin: 0;
    margin-bottom: 43px;
    text-align: center;
    text-transform: uppercase;
    line-height: 44.1px;
    font-size: 42.99px;
    font-family: 'BebasNeueBold';
    color: #0d2e57;
}

.offer-description {
    width: 495px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Montserrat-light';
    color: #8a8a8a;
}

.price-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.offer-price {
    margin: 0;
    margin-right: 53px;
    line-height: 62.4px;
    font-size: 52px;
    font-family: 'Montserrat-bold';
    color: #3954d9;
}
.old-offer-price {
    margin: 0;
    text-decoration: line-through;
    line-height: 58.14px;
    font-size: 32.61px;
    font-family: 'Montserrat-semibold';
    color: #121212;
}
.bg-offer {
    background-image: url(../img/jpg/offer-img.jpg);
    background-repeat: no-repeat;
}

.offer-timer {
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
}

.timer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.timer-description {
}

.timer-hours,
.timer-minutes,
.timer-seconds {
    text-align: center;
}

.timer-hours,
.timer-minutes,
.timer-seconds {
   background-color: #fff;
   border-radius: 20px;
   padding: 25px 20px 22px 20px;
}

.timer-dots,
.timer-number,
.timer-description {
    margin: 0;
    font-family: 'Montserrat-semibold';
}

.timer-number {
    line-height: 31.89px;
    font-size: 38.22px;
}

.timer-description {
    font-size: 11px;
    text-transform: uppercase;
}

.offer-btn {
    /* display: block;
    min-width: 125px;
    padding: 16px 17px 23px 22px;
    font-family: 'Montserrat-regular';
    text-align: center;
    text-transform: uppercase;
    background-color: #3954d9;
    border-radius: 25px; */
    display: block;
    width: 125px;
    font-size: 17px;
    color: #fff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    padding: 16px 23px 17px 22px;
    font-family: 'Montserrat-regular';
    text-align: center;
    text-transform: uppercase;
    background-color: #3954d9;
    border-radius: 25px;
}

/********************* Products **********************/
.product {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.produtcs-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.products-item-repeat {
    width: 750px;
    height: 375px;
    background-image: url(../img/jpg/Layer-product.jpg);
    background-repeat: no-repeat;
}

.products-item {
    width: 375px;
    height: 375px;
}

.products-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.products-item__heading {
    margin-left: 55px;
    font-size: 25px;
    line-height: 25.65px;
    font-family:'BebasNeueBold';
    color: #0d2e57;
}

.new-price {
    font-family: 'Montserrat-semibold';
    font-size: 10px;
    line-height: 25.65px;
    color: #3954d9;
}
.old-price {
    font-family: 'Montserrat-semibold';
    font-size: 8px;
    line-height: 25.65px;
    color: #818181;
    text-decoration: line-through;
}

.products-discount {
    background-image: url(../img/jpg/Rectangle-product.jpg);
    background-repeat: no-repeat;
}

.products-discount__heading {
    margin-left: 55px;
    font-size: 59.62px;
    font-family: 'BebasNeueBold';
    font-weight: 400;
    line-height: 61.16px;
    letter-spacing: -1.49px;
    color: #fff;
}

.products-discount-price {
    max-width: 250px;
    margin-left: 55px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat-regular';
    line-height: 20px;
    letter-spacing: 5.6px;
    color: #fff;

}

.sg-up-btn {
    display: block;
    width: 125px;
    margin-left: 55px;
    padding-top: 18px;
    padding-bottom: 15px;
    border-radius: 25px;
    color: #fff;
    background-color:#3954d9;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16.27px;
    font-family: 'Montserrat-regular';
}

.repeat-heading {
    margin-left: 50px;
    font-family:'Poppins-bold';
    font-style: italic;
    font-size: 59.62px;
    line-height: 61.16px;
    letter-spacing: -1.49px;
    color: #fff;
    text-transform: uppercase;
}
.bg-prod-1
.btn-prod {
    display: block;
    width: 125px;
    margin-left: 53px;
    padding-top: 18px;
    padding-bottom: 15px;
    border-radius: 25px;
    color: #121212;
    background-color:#65cbff;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16.27px;
    font-family: 'Montserrat-regular'; 
}